/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: fadeIn 1s ease-in-out;
  }
  
  /* Estilizando o corpo da página */
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Estilizando o contêiner do formulário */
  .form-container {
    position: relative;
    z-index: 1;
    width: 60vw;
    max-width: 40rem;
    padding: 3vw 5vh;
    margin: 10vh auto;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1.5vh);
    -webkit-backdrop-filter: blur(1.5vh);
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;

    & #formLog {
    display: flex;
    flex-direction: column;
    gap: 1vh;

      & #logo {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        display: block;
        margin: 0 auto 2vh;
        width: 15vw;
        max-width: 8.125rem;
        height: auto;
        border: none;
        fill: rgba(62, 164, 154, 0.835); /* cor fosca */
        stroke: none;
      }

      & .input-field {
        & #email {
          left: 50%;
          width: 90%;
          padding: 1.5vh;
          margin-bottom: 2vh;
          border: none;
          border-radius: 1vh;
          background-color: rgba(255, 255, 255, 0.4);
          color: white;
          font-size: 1.2rem;
        }
      }

      & .password-field {
        & #senha {
          width: 90%;
          padding: 1.5vh;
          margin-bottom: 2vh;
          border: none;
          border-radius: 1vh;
          background-color: rgba(255, 255, 255, 0.4);
          color: white;
          font-size: 1.2rem;
        }
        & .toggle-password {
          right: 5%;
          top: 35%;
          transform: translateY(-50%);
          cursor: pointer;
          position: absolute;
          font-size: 1.2rem;
        }
      }
    }

    & .links {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: 0.5vh;
       width: 100%;
       text-align: center;
       margin-top: 1vh;

     & p {
        font-size: .625rem;
        margin-top: 3vh;

       & a {
          text-decoration: none;
          font-size: .625rem;
          margin-top: 3vh;

        }
      }

     & a {
        margin-top: 3vh;
        text-decoration: none;
        font-size: .625rem;
      }

    }

    & .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      margin-top: 1vh;

      & #reset {
        width: 40%;
        padding: 1.5vh 0;
        margin: 2vh 5%;
        border: none;
        border-radius: 1vh;
        background: linear-gradient(45deg, #023cc4, #01aff3);
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
      }

      & #submit {
        width: 40%;
        padding: 1.5vh 0;
        margin: 2vh 5%;
        border: none;
        border-radius: 1vh;
        background: linear-gradient(45deg, #023cc4, #01aff3);
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .darkTheme {
     position: fixed;
     top: 1rem;
     right: 1rem;
     padding: 4px 8px;
     font-size: 0.75rem;
     z-index: 1000;
     border-radius: 6px;
     cursor: pointer;
     background: #ffffffaa;
     color: #000;
     transition: all 0.3s ease-in-out;
     border: none;
    }
    
  /*estilizando a ancora*/
  a:hover {
    color: #043a63;
  }

  
  /*Estilo da página de erro*/
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    z-index: 1000;
  }

  .popup h3{
    color: #721c24;
  }

  .popup button {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .popup button:hover {
    background-color: #c82333;
  }

  /*alterações do botão de exibir/ocultar senha*/
  .password-field {
    position: relative;
    width: 100%;
  }
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: auto;
    height: auto;
  }
  .toggle-password:hover {
    opacity: 0.7;
    background: none;
  }

  .links {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    padding: 10px;
    bottom: 20px;

    p, a {
      font-size: 8px;
      letter-spacing: 1px;
    }
  }

  /*animação de fade no site*/

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (max-width: 480px) {
    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 1vh;
      gap: 0.5vh;
      text-align: center;
    }

  .links p,
  .links a {
    font-size: 0.5rem;
    line-height: 1;
  }

  #formLog {
    gap: 1vh;
    justify-content: center;
    align-items: center;
    font-size: 4px;
  }

  .buttons {
    gap: 0.5rem;
    flex-wrap: wrap;
  }

   .buttons button {
    font-size: 0.6rem;
    padding: 0.4rem 0.8rem;
    flex: 1 1 40%; /* deixa eles ocuparem espaço proporcional */
    max-width: 100px;
  }

  .darkTheme {
    font-size: 0.5rem;
    padding: 5px 10px;
    top: 10px;
    right: 10px;
    border: none;
  }
}